*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.top_container{
    display: flex;
    justify-content: space-between;
    width: 200vh;
    height: auto; 
    background-color: black;
}
.icon {
    position: relative;
    left: 20px;
    margin-bottom: 20px;
    display: inline;
    font-size: 35px;
    font-family: cursive;
}
.image_icon{
    position: relative;
    top: 25px;
    width: 50px;
    height:50px;
    border-radius: 250px;
}
.heading_icon{
    position: relative;
    bottom: 10px;
    color: white;
    text-shadow: 5px 1px 2px rgb(80, 95, 179) ;

}
.icon_items ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 800px;
    padding-top: 30px;
}
.list{
    display: flex;
    justify-content: space-around;
    font-family: cursive;
    font-size: 20px;
    list-style-type:none ;
    color: white;
}
.profile_items{
    display: flex;
}
.cart{
    position: relative;
    top: 25px;
    width: 100px;
}
.cart img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.search_bar{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    width: 500px;
    scroll-behavior: auto;
    height: 7vh;
    border: 3px solid rgb(200, 198, 198);
    position: relative;
    left: 100%;
    top: 15px;
    background-color: black;
    border-radius: 15px;
    text-size-adjust: 25px;
}
.search_bar::placeholder{
    font-size: 20px;
    padding-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);  
}
input[type="text"]{
    font-size: 25px;
    padding-left: 15px;
    color: rgb(237, 236, 236);
    font-family: Arial, Helvetica, sans-serif;
}
.welcome_foodies{
    opacity: 1;
    font-style:inherit;
    font-weight: bold;
    font-family:cursive;
    font-size: 50px;
    position:relative;
    top: 16vh;
    left: 14vw;
    color: rgba(255, 210, 60, 0.854);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    text-shadow: 4px 4px rgb(112, 107, 98);
}
.para_quote{
    opacity: 1;
    position: relative;
    font-family: cursive;
    font-size: 20px;
    top: 130px;
    left:45vh ;
    color: rgb(191, 187, 187);
}
b{
    font-weight: bolder;
}
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 30vh;
}
.main_container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0),rgba(3, 3, 3, 0.6)),url(images/271681.webp);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
li:hover{
    color: gold;
    cursor: pointer; 
}
.heading_icon:hover{
    -webkit-text-stroke: 0.5px white;
     transition: color 3s;
     transition-delay: color 5s;
     color: rgb(255, 0, 0);
     cursor:pointer;
}
.cart img:hover{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: blue;
}
input:hover{
    width: 510px;
    height: 7.2vh;
    box-shadow: 2px 2px 2px 2px rgb(158, 143, 255);
}
@media screen and (max-width: 1250px){
    .heading_icon{
        display: block ;
    }
}